/* general styles */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation styles */
nav {
}

    nav ul {
        list-style: none;
    }
a:hover {
    color: purple;
}

a {
    text-decoration: none;
    color: darkblue;
}

/* heading styles */
header {
    text-align: center;
    background: radial-gradient(white, black);
    border-radius: 1px;
}

section > article > div > header > h2 {
    text-align: center;
}