/*
   New Perspectives on HTML
   Tutorial 2
   Review Assignment

   CAMShots Contest Style Sheet
   Author: Gerry Hayward
   Date:   3/1/2014

   Filename:         constyles.css
   Supporting Files: none

*/

/* Section Styles */

body {
position:relative;
margin: 0em auto;
padding: 0em;
width: 100%;
max-width: 1200px;
min-width: 900px;

}

header{
width: 100%;
height:250px;
background-image:url('djlannypicture.PNG');
background-repeat:no-repeat;
background-color:rgba(0, 100,0, 0.8);
background-position:left top;
background-size:100% auto;
}

nav {
width: 100%;
}

section nav {
padding-bottom: 1.6em;
}


nav ul {
margin: 0em;
padding: 0em;
}

nav ul li {
display: block;
float: left;
width: 15.6%;
height: 20px;
margin: 0em 4px 5px 0em;
}

section {
width: 60%;
float: left;
clear:left;
}

section table th{
color:rgb(0,0,255);
background-color:rgb(240,100,0);
}

section table td{
color:rgb(107,128,255);
color:blue;	
background-color:rgb(255,190,109)
}

section p {
margin: 0em 20px 10px 0em;
}


section.full p {
margin: 0em 0em 30px 0em;
}

section.full article h1 {
margin: 0em 0em 5px 0em;
}

section.full article figure {
display: block;
width: 100%;
margin-bottom: 10px;
}

section.full article figure img {
display: block;
margin: 0em auto;
}


aside {
float: left;
width: 38%;
border-left: 3px solid #2d04ff;
border-top: 3px solid #2d04ff;
border-bottom: 3px solid #2d04ff;
border-radius: 25px 0em 0em 25px;
-moz-border-radius: 25px 0em 0em 25px;
-webkit-border-bottom-left-radius: 25px;
-webkit-border-top-left-radius: 25px;

 height:450px;
 overflow:auto;
}

aside h1 {
margin: 5px 0em 0em;
border-bottom: 2px solid #2d04ff;
}

aside p {
margin: 10px 0em 10px 15px;
}

footer {
text-aline:center;
display:block;
width: 100%;
clear: left;
margin-top: 5px;
}

footer address {
display: block;
width: 100%;
clear: left;
margin-top: 20px;
border-top: 3px solid #2d04ff;
}


/* Block Styles */

header h1 {
margin: 1em 0em;
}

h2 {
margin: 1em 0em;
}

header h1 {
margin: 0em;
}

header h2 {
margin: 0em;
padding-bottom: 0.5em;
border-bottom:1px black solid;
}

article p {
margin: 0.2em 0.9em 0.7em 0em;
}

article ul {
margin: 0.1em 0.8em 0.5em;
}

article ul li {
margin-right: 0.5em;
}

section.full h2 {
width: 100%;
margin:-130px 0em 10px 0em;
}

section.full ul {
margin: 0em 0em 140px 0em;
}

dl {
margin: 0em 0em 130px 60px;
}


section.full div {
clear: left;
padding-top: 30px;
padding-bottom: 30px;
}

img {
border-width: 0em;
}

h2+p img {
display: block;
box-shadow:10px 10px 20px #000000;
-webkit-box-shadow:10px 10px 20px #000000;
-moz-box-shadow: 10px 10px 20px #000000;
}