/* general styles */
* {
    margin: 0px;
    padding: 0px;
}
body {
    max-width: 1000px;
    margin: auto;
}

/* navigation styles */
nav {
    display: block;
}

nav > ul > li {
    float: left;
}

nav > ul ul {
    position: absolute;
    visibility: hidden;
}

nav ul li:hover > ul {
    visibility: visible;
}

nav ul li a {
    display: inline-block;
    padding: 10px 10px;
}

/* heading styles */
header {
    padding: 75px 50px 75px;
    clear: left;
}

/* content styles */
section {
    margin-top: 20px;
}

section div p {
    padding: 10px 0px 10px;
}

.floatLeft {
    float: left;
    margin: 10px;
}
.threeCol {
    width: 30%;
    overflow-x: hidden;
}
.threeColCont div:nth-child(3n+1) {
    clear: left;
}

/* image styles */

